# Prepare a Dataset of Construction contractors in Tamil Nadu

#### Submitted By : Manjiri H Sawant

### Objectives :

1. Prepare a dataset of “Construction contractors in Tamil Nadu”. There must be minimum 200 entries/rows and you can go as high    as you can. 
2. There are many websites/webpages which have this information and a simple google search will take you there.
3. Data set should include -
     * Name
     * Mobile/Phone Number
     * Address
     * Any other relevant fields that you can fetch
     * Web URL (From where you are getting this information)



4. Put the structured data in excel sheet and prepare a short note on the approach that you took to scrap / collate the data

`Tool Used`: **Python Jupyter Notebook**

# Data Scraping

1. `BeautifulSoup` - Format and Scrap the data from the HTML
2. `Selenium` - Controlling web browser through programs
3. `Urlib` - Used to fetch URL

**Steps**

1. Identify URL
2. Inspect HTML code
3. Find the HTML tag for the element that you want to extract.
4. Write some code to scrap this data

Website Used to Scrape Data Construction Contractors in Tamil Nadu:

https://www.dnb.com/business-directory/company-information.construction.in.html

#### Import Necessary Libraries

##### The following code written in Python 3.x. Libraries provide pre-written functionally to perform necessary tasks.

In [1]:
# Loading Required Libraries

import time
import re
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.firefox.options import Options as FirefoxOptions
from urllib.parse import urljoin

In [2]:
# run only once
name = []
address = []
number = []
year = []
employee = []
url = []
completed = []

In [3]:
for i in range(1,7):
    print('https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page={}'.format(i))

https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=1
https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=2
https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=3
https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=4
https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=5
https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=6

In [4]:
# Identify the URL

URL = 'https://www.dnb.com/business-directory/company-information.construction.in.tamil_nadu.html?page=1'

* Through **WebDriver**, Selenium supports all major browsers such as Chrome/Chromium, Firefox, 
  Internet Explorer, Edge, Opera, and Safari.
* WebDriver drives the browser using the browser’s built-in support forautomation.

* I have used gecko driver which links between selenium test and the Firefox browser to keep **headless** to access any website   easily nothing will appear on screen. Everything is done on the backend side.

**The website has contained several hyperlinks of companies detailed information.**
* So, In the beginning I have extracted all hyperlinks on the webpage and saved it in a list. 
* I used regex i.e.regular expressions to extract the href from webpage and created valid URL using **urljoin()** function.

In [5]:
try:
    options = FirefoxOptions()
    options.add_argument("--headless")
    driver = webdriver.Firefox(options=options)
    page = driver.get(URL)
    content = driver.page_source
    
finally:
    try:
        driver.close()
    except:
        pass

In [6]:
# Format the HTML code using bs4 library

soup = BeautifulSoup(content, features = "html.parser")

In [7]:
link = []

regex = r'href="(.+?)"'

fun = lambda x: re.findall(regex,str(x))

for ele in soup.find_all('a', href = re.compile('/business-directory/company-profiles.')):
    
    raw = []
    
    n = fun(ele)[0]
    raw.append(n)
    
    for ele in raw:
        v = urljoin('https://www.dnb.com/',ele)
        link.append(v)

### Tags are very important while scraping data from particular website.

**Lets identify the below mentioned features and based on them we will try to scrape out the relavant data from Business Directory website.**

Company Name = '?'

Address = '?'

Phone Number = '?'

Incorporated Year = '?'

Employees = '?'

URL = `'https://www.dnb.com/business-directory/company-profiles.refex_industries_limited.613c93187b7089c0aeab701771942fb3.html'

* Name = **title** 
* Address = **span** `company_address`  
* Phone Number = **span** `company_phone`  
* Year  = **span** `year_incorporated`  
* Employees = **span** `employees_all_site`

* **soup.find()** is used for finding out the first tag with the specified name or id and returning an object of type bs4. 
* I have iterated all tags till I get the all necessary information from one webpage.

* This has to perform several times to get minimum 200 entries that has mentioned in the task. 
* But sometimes, you will encounter **timeout exception error** it breaks the loop unexpectedly, 
* so for that I have kept time interval of 20 mins to avoid the error.

### Code for Web Scraping Below

In [8]:
%%time


time_out = time.time() + 60*20 # 20 min from now

for ele in link:
    try:
        options = FirefoxOptions()
        options.add_argument("--headless")
        driver = webdriver.Firefox(options=options)
        
        driver.get(ele)
        content = driver.page_source
        
    
    finally:
        try:
            driver.close()
        except:
            pass
        

    soup = BeautifulSoup(content, features = "html.parser")
    
   
    #names
    title = soup.find('title')
    if title is None:
        title.append(np.NaN)
    else:
        name.append(title.text)
    
   
    #address
    addrs = soup.find('span', attrs = {'name':'company_address'})
    if addrs is None:
        address.append(np.NaN)
    else:
        address.append(addrs.text)
    

    #number
    num = soup.find('span', attrs = {'name': 'company_phone'})
    if num is None:
        number.append(np.NaN)
    else:
        number.append(num.text)
   
    #year
    yr = soup.find('span', attrs = {'name': 'year_incorporated'})
    if yr is None:
        year.append(np.NaN)
    else:
        year.append(yr.text)
    
    
    #employees
    em = soup.find('span', attrs = {'name': 'employees_all_site'})
    if em is None:
        employee.append(np.NaN)
    else:
        employee.append(em.text)
    
    #url
    url.append(ele)
    completed.append(ele)
    
    print('Data Scraped Successfully')
    
    
    if time.time() > time_out:
        break

Data Scraped Successfully
Data Scraped Successfully
Data Scraped Successfully
Data Scraped Successfully
Data Scraped Successfully
Data Scraped Successfully

KeyboardInterrupt:

**Keyboard interruption Only to show sample output**

In [9]:
print(len(name))
print(len(address))
print(len(number))
print(len(year))
print(len(employee))
print(len(url))

6
6
6
6
6
6

# You need to run web scraping program several times so it is required to remove URL link from list
for ele in completed:
    if ele in link:
        link.remove(ele)

* Still, data is unstructured so it requires to extract the details and processed information using regex and saved all the values which is appended in empty list in pandas `dataframe`.

* Pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

* Data manipulation has been performed there are some entries included construction companies details of other than Tamil Nadu state. 
* But, In the problem statement has mentioned only Construction companies in Tamil Nadu is only required. 
* For that, I have **sorted** and transformed dataframe to get structured data and exported as an Excel file. 
* Also, I have created unstructured dataset in .csv and .txt format.

### Create Pandas DataFrame and export raw data into .csv() format

In [10]:
result = pd.DataFrame({'Company Name' : name, 'Address': address, 'Number': number, 
                       'Employees': employee, 'Year': year , 'Url': url })

In [11]:
result.to_csv('Company_raw_data.csv', index = False)

In [12]:
data = pd.read_csv('Company_raw_data.csv')

In [13]:
data.shape

(6, 6)

In [14]:
data.columns

Index(['Company Name', 'Address', 'Number', 'Employees', 'Year', 'Url'], dtype='object')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  6 non-null      object
 1   Address       6 non-null      object
 2   Number        5 non-null      object
 3   Employees     6 non-null      object
 4   Year          6 non-null      object
 5   Url           6 non-null      object
dtypes: object(6)
memory usage: 416.0+ bytes

In [16]:
data.head()

,Company Name,Address,Number,Employees,Year,Url
0,CCCL POWER INFRASTRUCTURE LIMITED Company Prof...,\nAddress:\n\n ...,\nPhone:\n+91-4423454500\n,"\nEmployees (all sites):\n 3,100\n\n\n\nEsti...",\nIncorporated:\n2010\n,https://www.dnb.com/business-directory/company...
1,GSH FACILITIES MANAGEMENT SERVICES PRIVATE LIM...,\nAddress:\n\n ...,\nPhone:\n+91-9043066694\n,"\nEmployees (all sites):\n 1,477\n\n\n\nActu...",\nIncorporated:\n2015\n,https://www.dnb.com/business-directory/company...
2,THRIVENI EARTHMOVERS PRIVATE LIMITED Company P...,\nAddress:\n\n ...,\nPhone:\n+91-8025743563\n,"\nEmployees (all sites):\n 7,159\n\n\n\nEsti...",\nIncorporated:\n1999\n,https://www.dnb.com/business-directory/company...
3,FPL AUTOMOBILES PRIVATE LIMITED Company Profil...,\nAddress:\n\n ...,\nPhone:\n+91-8438010336\n,\nEmployees (all sites):\n 487\n\n\n\nActu...,\nIncorporated:\n2014\n,https://www.dnb.com/business-directory/company...
4,REGEN POWERTECH PRIVATE LIMITED Company Profil...,\nAddress:\n\n ...,NaN,\nEmployees (all sites):\n 345\n\n\n\nActu...,\nIncorporated:\n2006\n,https://www.dnb.com/business-directory/company...

### Extracting the details using Regex

In [17]:
# Processed Information Company Name

regex = r'(.+?Profile)'

data['Name'] = data['Company Name'].apply(lambda x : re.findall(regex, x))

In [18]:
# Processed Information Address
regex = r'(?:[\w]|[\d]+\s|Road|Tamil\s[\d]|India).*'

data['Company Address'] = data['Address'].apply(lambda x : re.findall(regex, x))

In [19]:
# process information city

regex = r'(?:Profile).*India' 

data['Location'] = data['Company Name'].apply(lambda x : re.findall(regex, x))

In [20]:
data['Location'][0]

['Profile | Chennai, Tamil Nadu, India']

In [21]:
# Processed Information Number

regex = r'(\+\d+.\d+.)'
data['Phone Number'] = data['Number'].apply(lambda x : re.findall(regex, str(x)))

In [22]:
# Processed Information No of Employees

regex = r'\d+'

data['Employees all sites'] = data['Employees'].apply(lambda x : re.findall(regex, str(x)))

In [23]:
# Processed Information Incorporated Year

regex = r'\d+'

data['Year Incorporated'] = data['Year'].apply(lambda x : re.findall(regex, str(x)))

In [24]:
# Missing Values

data.isnull().sum()

Company Name           0
Address                0
Number                 1
Employees              0
Year                   0
Url                    0
Name                   0
Company Address        0
Location               0
Phone Number           0
Employees all sites    0
Year Incorporated      0
dtype: int64

In [25]:
data['Company Address'][2]

['Address:',
 '22/110, Greenways Road Fairlands Salem, Tamil Nadu, 636016 India',
 'See other locations']

In [26]:
data['Name'] = data['Name'].apply(lambda x : ''.join(x))
data['Company Address'] = data['Company Address'].apply(lambda x : ''.join(x))
data['Location'] = data['Location'].apply(lambda x : ''.join(x))
data['Phone Number'] = data['Phone Number'].apply(lambda x : ''.join(x))
data['Employees all sites'] = data['Employees all sites'].apply(lambda x : ''.join(x))
data['Year Incorporated'] = data['Year Incorporated'].apply(lambda x : ''.join(x))

In [27]:
data.head()

,Company Name,Address,Number,Employees,Year,Url,Name,Company Address,Location,Phone Number,Employees all sites,Year Incorporated
0,CCCL POWER INFRASTRUCTURE LIMITED Company Prof...,\nAddress:\n\n ...,\nPhone:\n+91-4423454500\n,"\nEmployees (all sites):\n 3,100\n\n\n\nEsti...",\nIncorporated:\n2010\n,https://www.dnb.com/business-directory/company...,CCCL POWER INFRASTRUCTURE LIMITED Company Profile,"Address:No.5, II Link Street C.I.T. Colony, My...","Profile | Chennai, Tamil Nadu, India",+91-4423454500,3100,2010
1,GSH FACILITIES MANAGEMENT SERVICES PRIVATE LIM...,\nAddress:\n\n ...,\nPhone:\n+91-9043066694\n,"\nEmployees (all sites):\n 1,477\n\n\n\nActu...",\nIncorporated:\n2015\n,https://www.dnb.com/business-directory/company...,GSH FACILITIES MANAGEMENT SERVICES PRIVATE LIM...,"Address:NEW NO 14, OLD NO 20, THIRU-VI-KA III ...","Profile | Chennai, Tamil Nadu, India",+91-9043066694,1477,2015
2,THRIVENI EARTHMOVERS PRIVATE LIMITED Company P...,\nAddress:\n\n ...,\nPhone:\n+91-8025743563\n,"\nEmployees (all sites):\n 7,159\n\n\n\nEsti...",\nIncorporated:\n1999\n,https://www.dnb.com/business-directory/company...,THRIVENI EARTHMOVERS PRIVATE LIMITED Company P...,"Address:22/110, Greenways Road Fairlands Salem...","Profile | Salem, Tamil Nadu, India",+91-8025743563,7159,1999
3,FPL AUTOMOBILES PRIVATE LIMITED Company Profil...,\nAddress:\n\n ...,\nPhone:\n+91-8438010336\n,\nEmployees (all sites):\n 487\n\n\n\nActu...,\nIncorporated:\n2014\n,https://www.dnb.com/business-directory/company...,FPL AUTOMOBILES PRIVATE LIMITED Company Profile,"Address:L-6,Sidco Industrial Estate, Vavin Amb...","Profile | Chennai, Tamil Nadu, India",+91-8438010336,487,2014
4,REGEN POWERTECH PRIVATE LIMITED Company Profil...,\nAddress:\n\n ...,NaN,\nEmployees (all sites):\n 345\n\n\n\nActu...,\nIncorporated:\n2006\n,https://www.dnb.com/business-directory/company...,REGEN POWERTECH PRIVATE LIMITED Company Profile,"Address:KRM Plaza,8th Floor,North Tower No. 2,...","Profile | Chennai, Tamil Nadu, India",,345,2006

In [28]:
data.drop(['Address','Company Name','Number','Employees','Year'], axis = 1, inplace = True)

In [29]:
data.columns

Index(['Url', 'Name', 'Company Address', 'Location', 'Phone Number',
       'Employees all sites', 'Year Incorporated'],
      dtype='object')

In [30]:
data.isnull().sum()

Url                    0
Name                   0
Company Address        0
Location               0
Phone Number           0
Employees all sites    0
Year Incorporated      0
dtype: int64

In [31]:
data['Company Address'] = data['Company Address'].apply(lambda x : str(x).lstrip('Address:').rstrip('See other locations'))

In [32]:
data['Name'] = data['Name'].apply(lambda x : str(x).rstrip('Company Profile'))

In [33]:
data['Location'] = data['Location'].apply(lambda x : str(x).lstrip('Profile |'))

In [34]:
data['Location'][2]

'Salem, Tamil Nadu, India'

In [35]:
data['Company Address'] = data['Company Address'].apply(lambda x: str(x).replace('Ind','India'))

In [36]:
data['Company Address'][2]

'22/110, Greenways Road Fairlands Salem, Tamil Nadu, 636016 India'

In [37]:
data = data[['Name','Company Address','Location','Phone Number','Employees all sites','Year Incorporated','Url']]

In [38]:
data.head()

,Name,Company Address,Location,Phone Number,Employees all sites,Year Incorporated,Url
0,CCCL POWER INFRASTRUCTURE LIMITED,"No.5, II Link Street C.I.T. Colony, Mylapore C...","Chennai, Tamil Nadu, India",+91-4423454500,3100,2010,https://www.dnb.com/business-directory/company...
1,GSH FACILITIES MANAGEMENT SERVICES PRIVATE LIM...,"NEW NO 14, OLD NO 20, THIRU-VI-KA III STREET, ...","Chennai, Tamil Nadu, India",+91-9043066694,1477,2015,https://www.dnb.com/business-directory/company...
2,THRIVENI EARTHMOVERS PRIVATE LIMITED,"22/110, Greenways Road Fairlands Salem, Tamil ...","Salem, Tamil Nadu, India",+91-8025743563,7159,1999,https://www.dnb.com/business-directory/company...
3,FPL AUTOMOBILES PRIVATE LIMITED,"L-6,Sidco Indiaustrial Estate, Vavin Ambattur ...","Chennai, Tamil Nadu, India",+91-8438010336,487,2014,https://www.dnb.com/business-directory/company...
4,REGEN POWERTECH PRIVATE LIMITED,"KRM Plaza,8th Floor,North Tower No. 2,Harringt...","Chennai, Tamil Nadu, India",,345,2006,https://www.dnb.com/business-directory/company...

### Deleting Unnecessary rows from DataFrame

# delete a few specified rows at index values 27, 37, 52,122,86,156,91,114,115,126,160,26,209,281,293
# Note that the index values do not always align to row numbers.

data = data.drop(labels=[26,209,281,293], axis=0)

In [39]:
data['Employees all sites'] = data['Employees all sites'].astype(int)

In [40]:
data['Year Incorporated'] = pd.to_numeric(data['Year Incorporated'])

In [41]:
data.rename(columns = {'Name': 'Company Name'}, inplace =  True)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company Name         6 non-null      object
 1   Company Address      6 non-null      object
 2   Location             6 non-null      object
 3   Phone Number         6 non-null      object
 4   Employees all sites  6 non-null      int32
 5   Year Incorporated    6 non-null      int64
 6   Url                  6 non-null      object
dtypes: int32(1), int64(1), object(5)
memory usage: 440.0+ bytes

In [43]:
data

,Company Name,Company Address,Location,Phone Number,Employees all sites,Year Incorporated,Url
0,CCCL POWER INFRASTRUCTURE LIMITED,"No.5, II Link Street C.I.T. Colony, Mylapore C...","Chennai, Tamil Nadu, India",+91-4423454500,3100,2010,https://www.dnb.com/business-directory/company...
1,GSH FACILITIES MANAGEMENT SERVICES PRIVATE LIM...,"NEW NO 14, OLD NO 20, THIRU-VI-KA III STREET, ...","Chennai, Tamil Nadu, India",+91-9043066694,1477,2015,https://www.dnb.com/business-directory/company...
2,THRIVENI EARTHMOVERS PRIVATE LIMITED,"22/110, Greenways Road Fairlands Salem, Tamil ...","Salem, Tamil Nadu, India",+91-8025743563,7159,1999,https://www.dnb.com/business-directory/company...
3,FPL AUTOMOBILES PRIVATE LIMITED,"L-6,Sidco Indiaustrial Estate, Vavin Ambattur ...","Chennai, Tamil Nadu, India",+91-8438010336,487,2014,https://www.dnb.com/business-directory/company...
4,REGEN POWERTECH PRIVATE LIMITED,"KRM Plaza,8th Floor,North Tower No. 2,Harringt...","Chennai, Tamil Nadu, India",,345,2006,https://www.dnb.com/business-directory/company...
5,BRIVAS PRIVATE LIMITED,"No. 19,Chitlapakkam Main Road 2 nd Floor, Nehr...","Chennai, Tamil Nadu, India",+91-4422239010,4041,2010,https://www.dnb.com/business-directory/company...

In [44]:
# determining the name of the file
file_name = 'Construction Contractors in Tamil Nadu.xlsx'
  
# saving the excel
data.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [45]:
data.shape

(6, 7)

### Conclusion :

* There are some missing data present in this data set. 
* Handling the missing data is crucial for data science project. 
* Data quality is also important in particular when you required data for data analysis.

### Output Sturctured Data in Excel Sheet:

https://docs.google.com/spreadsheets/d/1ezZPzcjgbxF1CajwSCMUxB5tJ5xMs2LO/edit?usp=sharing&ouid=115495952924757409310&rtpof=true&sd=true